#upcomingshows{
    font-family: 'Libre Baskerville', serif;
    font-size: 23px;
}

#viewall{
    font-family: 'Nunito', sans-serif;
    color: #E5C558;
    text-decoration: none;
}

.card img{
    margin-left: -1px;
    width: 100.7%;
    margin-top: -1px;
}

.card{
    border-radius: 8px;
    margin: auto;
}

.list-group-item ,.card-body,.card{
    background-color:#111229;
}

.personName{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

.card{
    box-shadow: 8px -8px  #292971;
    margin-top: 55px;
}

.ticketicon{
    height: 35px;
    width: 40px !important;
    margin-left: 110px !important;
}

@media screen and (max-width:1200px) {
    #wholecontainer{
        margin-top: 243px;
    }
}
@media screen and (max-width:600px) {
    #wholecontainer{
        margin-top: 829px;
    }
}
